{% extends 'canteen_app/index.html' %}
{% load static %}

{% block about %} class="active" {% endblock %}
{% block title %}
    <div class="w3-agile-main-heading">
        <h2>About Us</h2>
    </div>
{% endblock %}

{% block body %}
<!-- about -->
	<div class="w3l-about-top">
		<div class="container">
			<div class="about-info">
				<div class="col-md-7 about-grids">
					<h4>Blanditiis praesentium deleniti atque corrupti quos </h4>
					<p>Dignissimos at vero eos et accusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecat officia deserunt mollitia laborum et dolorum fuga. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecat </p>
					<img src="images/12.jpg" alt="" />
				</div>
				<div class="col-md-5 about-grids">
					<h4>Taste Something Now</h4>
					<div class="pince">
						<div class="pince-left">
							<h5>01</h5>
						</div>
						<div class="pince-right">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt libero quis est iaculis efficitur. Etiam scelerisque eget nisi et iaculis.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="pince">
						<div class="pince-left">
							<h5>02</h5>
						</div>
						<div class="pince-right">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt libero quis est iaculis efficitur. Etiam scelerisque eget nisi et iaculis.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="pince">
						<div class="pince-left">
							<h5>03</h5>
						</div>
						<div class="pince-right">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt libero quis est iaculis efficitur. Etiam scelerisque eget nisi et iaculis.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="pince">
						<div class="pince-left">
							<h5>04</h5>
						</div>
						<div class="pince-right">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt libero quis est iaculis efficitur. Etiam scelerisque eget nisi et iaculis.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- team -->
	<div class="team-dot">
		<div class="jarallax team">
			<div class="container">
				<div class="agileinfo-heading wthree-team-heading"><h3>Our Team</h3></div>
				<div class="agileits-team-grids">
					<div class="col-md-4 agileits-team-grid">
						<div class="team-info">
							<img src='{% static "canteen_app/images/t1.jpg" %}' alt="" />
							<div class="team-caption">
								<h4>Justo congue</h4>
								<p>Fusce laoreet</p>
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 agileits-team-grid">
						<div class="team-info">
							<img src='{% static "canteen_app/images/t2.jpg" %}' alt="" />
							<div class="team-caption">
								<h4>Justo congue</h4>
								<p>Fusce laoreet</p>
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 agileits-team-grid">
						<div class="team-info">
							<img src='{% static "canteen_app/images/t3.jpg" %}' alt="" />
							<div class="team-caption">
								<h4>Justo congue</h4>
								<p>Fusce laoreet</p>
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!--<div class="col-md-3 agileits-team-grid">-->
						<!--<div class="team-info">-->
							<!--<img src='{% static "canteen/images/t4.jpg" %}' alt="" />-->
							<!--<div class="team-caption">-->
								<!--<h4>Justo congue</h4>-->
								<!--<p>Fusce laoreet</p>-->
								<!--<ul>-->
									<!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
									<!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
									<!--<li><a href="#"><i class="fa fa-rss"></i></a></li>-->
								<!--</ul>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->

	<!-- events -->
	<div class="events">
		<div class="container">
			<div class="agileinfo-heading">
				<h3>News & Events</h3>
			</div>
			<div class="w3l-event-grids">
				<div class="col-md-6 w3l-event-grid">
					<div class="w3l-event-img">
						<a href="single.html"><img src='{% static "canteen_app/images/2.jpg" %}' alt="" /></a>
					</div>
					<div class="news-grid-info">
						<a href="single.html">Donec cursus felis a enim egestas</a>
						<h5>24th June | 10:00 - 12:00</h5>
						<p>Etiam ex lorem cursus vitae placerat suscipit dapibus tortor sed nec augue vitae placerat suscipit dapibus tortor sed nec augue enim rhoncus ultricies eros interdum aliquam eros iaculis id.</p>
					</div>
				</div>
				<div class="col-md-6 w3l-event-grid">
					<div class="w3l-event-img">
						<a href="single.html"><img src='{% static "canteen_app/images/12.jpg" %}' alt="" /></a>
					</div>
					<div class="news-grid-info">
						<a href="single.html">Donec cursus felis a enim egestas</a>
						<h5>12th August | 04:00 - 08:00</h5>
						<p>Etiam ex lorem cursus vitae placerat suscipit dapibus tortor sed nec augue vitae placerat suscipit dapibus tortor sed nec augue enim rhoncus ultricies eros interdum aliquam eros iaculis id.</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //events -->
	<!-- //about -->
{% endblock %}