{% extends 'canteen_app/index.html' %}
{% load static %}
{% block gallery %} class="active" {% endblock %}

{% block title %}
    <div class="w3-agile-main-heading">
        <h2>Gallery</h2>
    </div>
{% endblock %}


{% block body %}

<!-- gallery -->
	<div class="gallery">
		<div class="container">
			<div class="inner_w3l_agile_grids">
				<div class="col-md-4 w3_tabs_grid">
					<div class="grid">
						<a href='{% static "canteen_app/images/2.jpg" %}' class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src='{% static "canteen_app/images/2.jpg" %}' class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid">
					<div class="grid">
						<a href='{% static "canteen_app/images/3.jpg" %}' class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src='{% static "canteen_app/images/3.jpg" %}' class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid">
					<div class="grid">
						<a href='{% static "canteen_app/images/5.jpg" %}' class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src='{% static "canteen_app/images/5.jpg" %}' class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid w3_tabs_grid_sub">
					<div class="grid">
						<a href='{% static "canteen_app/images/8.jpg" %}' class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src='{% static "canteen_app/images/8.jpg" %}' class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid w3_tabs_grid_sub">
					<div class="grid">
						<a href='{% static "canteen_app/images/11.jpg" %}' class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src='{% static "canteen_app/images/11.jpg" %}' class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid w3_tabs_grid_sub">
					<div class="grid">
						<a href='{% static "canteen_app/images/12.jpg" %}' class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src='{% static "canteen_app/images/12.jpg" %}' class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid">
					<div class="grid">
						<a href='{% static "canteen_app/images/2.jpg" %}' class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src='{% static "canteen_app/images/2.jpg" %}' class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid">
					<div class="grid">
						<a href='{% static "canteen_app/images/3.jpg" %}' class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src='{% static "canteen_app/images/3.jpg" %}' class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_tabs_grid">
					<div class="grid">
						<a href='{% static "canteen_app/images/5.jpg" %}' class="lsb-preview" data-lsb-group="header">
							<figure class="effect-winston">
								<img src='{% static "canteen_app/images/5.jpg" %}' class="img-responsive" alt=" " />
								<figcaption>
									<p>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
    </div>
<!-- //gallery -->

{% endblock %}