{% extends 'canteen_app/index.html' %}
{% load static %}
{% block home %} class="active" {% endblock %}
{% block body %}
<!-- welcome -->
	<div class="welcome">
		<div class="container">
			<div class="agileinfo-heading">
				<h3>Welcome</h3>
			</div>
			<div class="agileits-welcome-grids">
				<div class="col-md-5 agileits-welcome-left">
					<img src='{% static "canteen_app/images/2.jpg" %}' alt="" />
				</div>
				<div class="col-md-7 agileits-welcome-left">
					<h2>Aenean et ultricies mi, ac ultricies ex. Cras iaculis lectus at orci dapibus efficitur.</h2>
					<div class="agile-border"> </div>
					<p>Vivamus placerat velit placerat elementum vestibulum. Suspendisse faucibus, dui id sagittis dignissim, tortor mauris maximus turpis, eu vehicula est leo nec metus. Donec pellentesque felis sit amet vehicula iaculis. Fusce sollicitudin leo ipsum, nec mollis quam dignissim eu. <span>Vivamus pellentesque porttitor hendrerit. In dui justo, egestas at aliquam quis, mollis dictum ex. Curabitur laoreet pretium enim eu hendrerit. Donec vel consectetur mauris, eu malesuada magna. Praesent nec ultricies purus. Phasellus maximus efficitur velit, vel blandit diam elementum sed.</span></p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //welcome -->
	<!-- special -->
	<div class="special">
		<div class="container">
			<div class="agileinfo-heading">
				<h3>Specialities</h3>
			</div>
			<div class="special-top-grids">
				<div class="w3-agile-special">
					<div class="col-md-3 special-grids">
						<div class="special-img">
							<img class="img-responsive" src='{% static "canteen_app/images/s1.jpg" %}' alt="">
							<div class="captn">
								<div class="captn-top">
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div>
								<div class="wthree-special-info">
									<h4>Phasellus</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 special-grids">
						<div class="special-img">
							<img class="img-responsive" src='{% static "canteen_app/images/s2.jpg" %}' alt="">
							<div class="captn">
								<div class="captn-top">
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div>
								<div class="wthree-special-info">
									<h4>Accumsan</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 special-grids">
						<div class="special-img">
							<img class="img-responsive" src='{% static "canteen_app/images/s3.jpg" %}' alt="">
							<div class="captn">
								<div class="captn-top">
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div>
								<div class="wthree-special-info">
									<h4>Sodales</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 special-grids">
						<div class="special-img">
							<img class="img-responsive" src='{% static "canteen_app/images/s4.jpg" %}' alt="">
							<div class="captn">
								<div class="captn-top">
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div>
								<div class="wthree-special-info">
									<h4>Placerat</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="w3-agile-special">
					<div class="col-md-3 special-grids">
						<div class="special-img">
							<img class="img-responsive" src='{% static "canteen_app/images/s5.jpg" %}' alt="">
							<div class="captn">
								<div class="captn-top">
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div>
								<div class="wthree-special-info">
									<h4>Phasellus</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 special-grids">
						<div class="special-img">
							<img class="img-responsive" src='{% static "canteen_app/images/s4.jpg" %}' alt="">
							<div class="captn">
								<div class="captn-top">
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div>
								<div class="wthree-special-info">
									<h4>Accumsan</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 special-grids">
						<div class="special-img">
							<img class="img-responsive" src='{% static "canteen_app/images/s1.jpg" %}' alt="">
							<div class="captn">
								<div class="captn-top">
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div>
								<div class="wthree-special-info">
									<h4>Sodales</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 special-grids">
						<div class="special-img">
							<img class="img-responsive" src='{% static "canteen_app/images/s2.jpg" %}' alt="">
							<div class="captn">
								<div class="captn-top">
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div>
								<div class="wthree-special-info">
									<h4>Placerat</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //special -->
	<!-- history -->
	<div class="history jarallax">
		<div class="history-dot">
			<div class="container">
				<div class="agileinfo-history-grids">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides" id="slider3">
								<li>
									<div class="wthree-history-info">
										<h4>Lorem ipsum dolor sit amet, consectetur</h4>
										<p>Mauris mollis, libero id ornare condimentum, erat mi iaculis libero, bibendum dictum leo tortor a magna. Aenean porta non nunc in semper. Fusce eget tempus metus, sit amet posuere lectus. Morbi cursus ante a felis ultrices scelerisque. Nullam cursus odio est, in pellentesque neque elementum nec. Pellentesque a egestas erat.</p>
										<a href='{% url "canteen_app:about" %}'>Read More</a>
									</div>
								</li>
								<li>
									<div class="wthree-history-info">
										<h4>Vivamus placerat velit placerat elementum</h4>
										<p>Nullam tristique faucibus pharetra. Ut ultricies, dui a tincidunt placerat, urna augue pellentesque leo, et posuere velit neque quis justo. Vivamus vel nulla vel tellus pretium maximus. Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										<a href='{% url "canteen_app:about" %}'>Read More</a>
									</div>
								</li>
								<li>
									<div class="wthree-history-info">
										<h4>Donec pellentesque felis sit amet vehicula</h4>
										<p>Donec viverra enim nunc, sit amet ultricies dolor placerat vestibulum. Donec id dapibus dolor. Praesent elementum ipsum fringilla ullamcorper facilisis. Morbi blandit tortor molestie ex dignissim, vitae blandit metus ullamcorper. Praesent eleifend risus quam, et aliquet eros tristique a. Duis rhoncus auctor urna, id tristique quam gravida in. </p>
										<a href='{% url "canteen_app:about" %}'>Read More</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<script>
									// You can also use "$(window).load(function() {"
									$(function () {
									  // Slideshow 4
									  $("#slider3").responsiveSlides({
										auto: true,
										pager:false,
										nav:false,
										speed: 500,
										namespace: "callbacks",
										before: function () {
										  $('.events').append("<li>before event fired.</li>");
										},
										after: function () {
										  $('.events').append("<li>after event fired.</li>");
										}
									  });

									});
								 </script>
								<!--banner Slider starts Here-->
				</div>
			</div>
		</div>
	</div>
	<!-- //history -->
{% endblock %}